body{
    background-color: white;
}

#click_me{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 300px;
    padding: auto;
    margin: auto;
}

#click_me:hover{
    cursor: pointer;
}

